
.blue {
    background-color: #006cfa;
}

.green {
    background-color: #00e265;
}

[class*="col-"] {
    border: 1px solid white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nested {
    border: 1px solid #006cfa;
    height: 20px;
}

span {
    font-size: 12px;
    color: white;
}

.top {
    margin-bottom: 1rem;
}

#title {
    justify-content: flex-start;
}